{{define "simple"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{template "title" .}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/style.css" rel="stylesheet">
  <link rel="icon" href="/static/img/favicon.ico" />
</head>

<body>

<div>
  {{template "messages" .}}

  {{template "main" .}}
</div>


</body>

</html>
{{end}}
