{{define "layout"}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Pin Duck - sex pins, porn bookmarks, XXX favorites</title>
  <meta name="description"
    content="Porn pin site - free porn pictures, porn GIFs and videos. Upload images, add pics and movies from other porn sites" />
  <meta name="RATING" content="RTA-5042-1996-1400-1577-RTA" />
  <meta name="robots" content="index,follow" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="/static/pinduck/css/styles.css" />
  <script type="text/javascript">var guest = 1;</script>
  <script type="text/javascript">var csrf = 'e0d270ebbb';</script>
  <script type="text/javascript" src="/static/pinduck/js/duck.js"></script>
  <script type="text/javascript" src="/static/pinduck/js/masonry.pkgd.min.js"></script>
</head>

<body>

  <div id="global" class="global">

    <header>
      <div class="header">
        <h1><a href="/"><img src="/static/pinduck/img/logo.png" alt="Pin Duck" /></a></h1>
      </div>
    </header>

    <nav>
      <div class="upperbar">
        <ul class="breadcrumbs">
          <li><a href="/">Home</a></li>
          <li>Porn pins</li>
        </ul>

        <div id="user" class="userbar">

          Hello, <a href="/account/login/">Guest</a>

        </div>

        <div class="clear"></div>
      </div>
    </nav>

    <div class="catbar">

      <form method="get" action="/pinduck/search/" enctype="application/x-www-form-urlencoded">
        <input type="text" name="q" value="" placeholder="something porn" maxlength="30" />
        <input type="submit" value="search" /> <a href="/pinduck/tag/">tags</a>
      </form>

      <!-- <form method="get" action="/" enctype="application/x-www-form-urlencoded" onchange="this.submit();">
        sort by <label><input type="radio" name="sort" value="new"  /> new</label><label><input type="radio" name="sort" value="pop" checked="checked" /> popular</label> and type <label><input type="radio" name="type" value="all" checked="checked" /> all</label><label><input type="radio" name="type" value="pic"  /> picture</label><label><input type="radio" name="type" value="gif"  /> gif</label><label><input type="radio" name="type" value="vid"  /> video</label> 
        <input type="submit" value="select" />
      </form> -->

      <div class="navlink">sort by
        <a href="/pinduck/?sort=new&type=all">new</a>
        <a href="/pinduck/?sort=pop&type=all" class="checked">popular</a>
      </div>
      <div class="navlink"> and type
        <a href="/pinduck/?sort=pop&type=all" class="checked">all</a>
        <a href="/pinduck/?sort=pop&type=pic">picture</a>
        <a href="/pinduck/?sort=pop&type=gif">gif</a>
        <a href="/pinduck/?sort=pop&type=vid">video</a>
      </div>
    </div>

    {{template "body" .}}

    <footer>
      <div id="footer" class="footer">
        0.004 sec<br />347.91 kB
        <p>
          <a href="/account/login/">account</a> | <a href="/pinduck/contact/">contact</a> | <a
            href="/pinduck/contact/">DMCA</a><br />
          &copy; <a href="https://pinduck.com/">Pin Duck</a>
        </p>

      </div>
    </footer>


  </div>
</body>

</html>
{{end}}