{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{template "title" .}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/webim/css/bootstrap.min.css" rel="stylesheet">
  <script src="/static/webim/js/jquery-1.10.1.min.js"></script>
  {{if .IsLongPolling}}
  <script src="/static/webim/js/longpolling.js"></script>
  {{end}}
  {{if .IsWebSocket}}
  <script src="/static/webim/js/websocket.js"></script>
  {{end}}
</head>

<body>
  {{template "body" .}}
</body>

</html>
{{end}}