html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.highlight .hll {
  background-color: #ffc;
}
.highlight {
  background: #f8f8f8;
}
.highlight .c {
  color: #408080;
  font-style: italic;
}
.highlight .err {
  border: 1px solid red;
}
.highlight .k {
  color: green;
  font-weight: bold;
}
.highlight .o {
  color: #666;
}
.highlight .cm {
  color: #408080;
  font-style: italic;
}
.highlight .cp {
  color: #bc7a00;
}
.highlight .c1 {
  color: #408080;
  font-style: italic;
}
.highlight .cs {
  color: #408080;
  font-style: italic;
}
.highlight .gd {
  color: #a00000;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: red;
}
.highlight .gh {
  color: navy;
  font-weight: bold;
}
.highlight .gi {
  color: #00a000;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: navy;
  font-weight: bold;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: purple;
  font-weight: bold;
}
.highlight .gt {
  color: #04d;
}
.highlight .kc {
  color: green;
  font-weight: bold;
}
.highlight .kd {
  color: green;
  font-weight: bold;
}
.highlight .kn {
  color: green;
  font-weight: bold;
}
.highlight .kp {
  color: green;
}
.highlight .kr {
  color: green;
  font-weight: bold;
}
.highlight .kt {
  color: #b00040;
}
.highlight .m {
  color: #666;
}
.highlight .s {
  color: #ba2121;
}
.highlight .na {
  color: #7d9029;
}
.highlight .nb {
  color: green;
}
.highlight .nc {
  color: blue;
  font-weight: bold;
}
.highlight .no {
  color: #800;
}
.highlight .nd {
  color: #a2f;
}
.highlight .ni {
  color: #999;
  font-weight: bold;
}
.highlight .ne {
  color: #d2413a;
  font-weight: bold;
}
.highlight .nf {
  color: blue;
}
.highlight .nl {
  color: #a0a000;
}
.highlight .nn {
  color: blue;
  font-weight: bold;
}
.highlight .nt {
  color: green;
  font-weight: bold;
}
.highlight .nv {
  color: #19177c;
}
.highlight .ow {
  color: #a2f;
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #666;
}
.highlight .mh {
  color: #666;
}
.highlight .mi {
  color: #666;
}
.highlight .mo {
  color: #666;
}
.highlight .sb {
  color: #ba2121;
}
.highlight .sc {
  color: #ba2121;
}
.highlight .sd {
  color: #ba2121;
  font-style: italic;
}
.highlight .s2 {
  color: #ba2121;
}
.highlight .se {
  color: #b62;
  font-weight: bold;
}
.highlight .sh {
  color: #ba2121;
}
.highlight .si {
  color: #b68;
  font-weight: bold;
}
.highlight .sx {
  color: green;
}
.highlight .sr {
  color: #b68;
}
.highlight .s1 {
  color: #ba2121;
}
.highlight .ss {
  color: #19177c;
}
.highlight .bp {
  color: green;
}
.highlight .vc {
  color: #19177c;
}
.highlight .vg {
  color: #19177c;
}
.highlight .vi {
  color: #19177c;
}
.highlight .il {
  color: #666;
}
.is-hidden {
  display: none;
}
@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}
.nav-toggle {
  font-size: 3.25rem;
  align-items: center;
  display: flex;
  padding-right: 0.75rem;
}
@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle:hover {
  cursor: pointer;
}
.nav-item {
  align-items: center;
  display: flex;
  padding: 0.25rem 0.5rem;
}
.nav-left,
.nav-right {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.nav-left {
  justify-content: flex-start;
}
.nav-right {
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .nav-menu.nav-right {
    display: none;
    left: 0;
    right: 0;
    top: 100%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
  }
  .nav-menu.nav-right .nav-item {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    padding: 0.75rem;
  }
}
.vertical-divider {
  align-items: center;
  display: flex;
  margin: 0.5rem 0.25rem;
  border-right: 2px solid #fafafa;
  border-left: 2px solid #b4b4b4;
}
@media (max-width: 768px) {
  .vertical-divider {
    border-top: 2px solid #fafafa;
    border-bottom: 2px solid #b4b4b4;
    margin: 0;
  }
}
.nav {
  display: flex;
  align-items: stretch;
  background-image: linear-gradient(to bottom left, white, #dddddd);
  min-height: 3.25rem;
  position: relative;
}
@media (min-width: 768px) {
  .visible-xs {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
* {
  font-family: Arial, Helvetica, sans-serif, '微軟正黑體', 'Microsoft JhengHei';
}
a {
  text-decoration: none;
}
a:hover {
  color: #2445ae;
}
@media (min-width: 768px) {
  a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 767px) {
  .common-title header h1,
  .common-title header h2,
  .content header h1,
  .content header h2,
  .page header h1,
  .page header h2,
  .article header h1,
  .article header h2,
  .post header h1,
  .post header h2,
  .archives header h1,
  .archives header h2 {
    font-size: 1.25em;
  }
}
.common-border,
.content,
.page,
.article,
.post,
.archives,
.common-groups,
.tags,
.authors,
.categories,
.common-group ol.breadcrumb,
.tag ol.breadcrumb,
.author ol.breadcrumb,
.category ol.breadcrumb {
  border-radius: 4px;
  border: medium solid #ddd;
  margin-top: 4px;
  padding: 5px;
}
.common-datetime,
.article aside time,
.post aside.post-metadata-date {
  color: #888;
  font-size: 1.25em;
  line-height: 1.5em;
}
.content aside .edit-on-github,
.page aside .edit-on-github,
.article aside .edit-on-github {
  float: right;
}
.content aside .edit-on-github a,
.page aside .edit-on-github a,
.article aside .edit-on-github a {
  padding: 5px 5px;
  background: #ddd;
  border-radius: 4px;
}
.content aside .available-translations,
.page aside .available-translations,
.article aside .available-translations {
  float: left;
}
.content aside:after,
.page aside:after,
.article aside:after {
  content: '';
  display: table;
  clear: both;
}
.content .main-content blockquote,
.page .main-content blockquote,
.article .main-content blockquote {
  padding: 10px;
  margin: 0 0 10px 0;
  border-left: 5px solid #eee;
}
.content .main-content .common-code-style *,
.content .main-content .common-linenos-code-table *,
.content .main-content .highlight *,
.content .main-content table.highlighttable *,
.content .main-content figure.github-file div.code-file table.highlighttable *,
.page .main-content .common-code-style *,
.page .main-content .common-linenos-code-table *,
.page .main-content .highlight *,
.page .main-content table.highlighttable *,
.page .main-content figure.github-file div.code-file table.highlighttable *,
.article .main-content .common-code-style *,
.article .main-content .common-linenos-code-table *,
.article .main-content .highlight *,
.article .main-content table.highlighttable *,
.article .main-content figure.github-file div.code-file table.highlighttable * {
  font-family: monospace;
}
.content .main-content .common-code-style pre,
.content .main-content .common-linenos-code-table pre,
.content .main-content .highlight pre,
.content .main-content table.highlighttable pre,
.content
  .main-content
  figure.github-file
  div.code-file
  table.highlighttable
  pre,
.page .main-content .common-code-style pre,
.page .main-content .common-linenos-code-table pre,
.page .main-content .highlight pre,
.page .main-content table.highlighttable pre,
.page .main-content figure.github-file div.code-file table.highlighttable pre,
.article .main-content .common-code-style pre,
.article .main-content .common-linenos-code-table pre,
.article .main-content .highlight pre,
.article .main-content table.highlighttable pre,
.article
  .main-content
  figure.github-file
  div.code-file
  table.highlighttable
  pre {
  line-height: 18px;
  font-size: 14px;
  padding: 5px;
  background-color: #f5f5f5;
  margin: 0;
}
.content .main-content .common-linenos-code-table,
.content .main-content table.highlighttable,
.content .main-content figure.github-file div.code-file table.highlighttable,
.page .main-content .common-linenos-code-table,
.page .main-content table.highlighttable,
.page .main-content figure.github-file div.code-file table.highlighttable,
.article .main-content .common-linenos-code-table,
.article .main-content table.highlighttable,
.article .main-content figure.github-file div.code-file table.highlighttable {
  border-collapse: collapse;
}
.content .main-content .common-linenos-code-table .highlight,
.content .main-content table.highlighttable .highlight,
.content
  .main-content
  figure.github-file
  div.code-file
  table.highlighttable
  .highlight,
.page .main-content .common-linenos-code-table .highlight,
.page .main-content table.highlighttable .highlight,
.page
  .main-content
  figure.github-file
  div.code-file
  table.highlighttable
  .highlight,
.article .main-content .common-linenos-code-table .highlight,
.article .main-content table.highlighttable .highlight,
.article
  .main-content
  figure.github-file
  div.code-file
  table.highlighttable
  .highlight {
  border-width: 0;
}
.content .main-content .common-linenos-code-table td.linenos,
.content .main-content table.highlighttable td.linenos,
.content
  .main-content
  figure.github-file
  div.code-file
  table.highlighttable
  td.linenos,
.page .main-content .common-linenos-code-table td.linenos,
.page .main-content table.highlighttable td.linenos,
.page
  .main-content
  figure.github-file
  div.code-file
  table.highlighttable
  td.linenos,
.article .main-content .common-linenos-code-table td.linenos,
.article .main-content table.highlighttable td.linenos,
.article
  .main-content
  figure.github-file
  div.code-file
  table.highlighttable
  td.linenos {
  border-right: 2px solid #ccc;
}
.content .main-content .highlight,
.page .main-content .highlight,
.article .main-content .highlight {
  border: 1px solid #ccc;
}
.content .main-content table.highlighttable,
.page .main-content table.highlighttable,
.article .main-content table.highlighttable {
  margin: 10px 0 10px 0;
  border: 2px solid #ccc;
}
.content .main-content figure.github-file,
.page .main-content figure.github-file,
.article .main-content figure.github-file {
  margin: 10px 0 10px 0;
  border: 2px solid #ccc;
  background-color: #f5f5f5;
}
.content .main-content figure.github-file figcaption,
.page .main-content figure.github-file figcaption,
.article .main-content figure.github-file figcaption {
  padding: 5px;
  background-color: #ececec;
}
.content .main-content figure.github-file div.code-file,
.page .main-content figure.github-file div.code-file,
.article .main-content figure.github-file div.code-file {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.content .main-content figure.github-file div.code-file table.highlighttable,
.page .main-content figure.github-file div.code-file table.highlighttable,
.article .main-content figure.github-file div.code-file table.highlighttable {
  margin: 0;
  border-width: 0;
}
.content .main-content code,
.page .main-content code,
.article .main-content code {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.content .main-content tt.literal,
.page .main-content tt.literal,
.article .main-content tt.literal {
  white-space: nowrap;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}
.content .main-content p.rubric,
.page .main-content p.rubric,
.article .main-content p.rubric {
  font-weight: bold;
  font-size: larger;
  color: maroon;
  text-align: center;
}
.content .main-content .align-center,
.page .main-content .align-center,
.article .main-content .align-center {
  clear: both;
  text-align: center;
}
.content .main-content .align-right,
.page .main-content .align-right,
.article .main-content .align-right {
  clear: both;
  text-align: right;
}
.content .main-content .default-image-align-center,
.content .main-content img.align-center,
.content .main-content .picasa-image img,
.page .main-content .default-image-align-center,
.page .main-content img.align-center,
.page .main-content .picasa-image img,
.article .main-content .default-image-align-center,
.article .main-content img.align-center,
.article .main-content .picasa-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
.content .main-content .picasa-image,
.page .main-content .picasa-image,
.article .main-content .picasa-image {
  margin-top: 2em;
  margin-bottom: 2em;
}
.content .main-content .picasa-image div,
.page .main-content .picasa-image div,
.article .main-content .picasa-image div {
  text-align: center;
}
.content .main-content .picasa-image div.album,
.page .main-content .picasa-image div.album,
.article .main-content .picasa-image div.album {
  text-align: right;
  font-size: 0.75em;
}
.content .main-content div.admonition,
.content .main-content div.note,
.content .main-content div.warning,
.content .main-content div.tip,
.page .main-content div.admonition,
.page .main-content div.note,
.page .main-content div.warning,
.page .main-content div.tip,
.article .main-content div.admonition,
.article .main-content div.note,
.article .main-content div.warning,
.article .main-content div.tip {
  margin: 2em;
  border: medium outset;
  padding: 1em;
}
.content .main-content div.admonition p.admonition-title,
.content .main-content div.warning p.admonition-title,
.content .main-content div.tip p.admonition-title,
.content .main-content div.note p.admonition-title,
.page .main-content div.admonition p.admonition-title,
.page .main-content div.warning p.admonition-title,
.page .main-content div.tip p.admonition-title,
.page .main-content div.note p.admonition-title,
.article .main-content div.admonition p.admonition-title,
.article .main-content div.warning p.admonition-title,
.article .main-content div.tip p.admonition-title,
.article .main-content div.note p.admonition-title {
  font-weight: bold;
  font-family: sans-serif;
}
@media (max-width: 419px) {
  .content .main-content .video-container,
  .page .main-content .video-container,
  .article .main-content .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .content .main-content .video-container iframe,
  .content .main-content .video-container object,
  .content .main-content .video-container embed,
  .page .main-content .video-container iframe,
  .page .main-content .video-container object,
  .page .main-content .video-container embed,
  .article .main-content .video-container iframe,
  .article .main-content .video-container object,
  .article .main-content .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.content .main-content .video-container-description > dl,
.page .main-content .video-container-description > dl,
.article .main-content .video-container-description > dl {
  margin-top: 0;
  margin-bottom: 1em;
}
.content .main-content .video-container-description > p,
.page .main-content .video-container-description > p,
.article .main-content .video-container-description > p {
  margin: 0;
}
.content .main-content table.table-syntax-diff,
.page .main-content table.table-syntax-diff,
.article .main-content table.table-syntax-diff {
  width: 100%;
}
.content .main-content table.table-syntax-diff p,
.page .main-content table.table-syntax-diff p,
.article .main-content table.table-syntax-diff p {
  margin: 0;
}
.content .main-content table.docutils th,
.content .main-content table.docutils td,
.page .main-content table.docutils th,
.page .main-content table.docutils td,
.article .main-content table.docutils th,
.article .main-content table.docutils td {
  padding: 3px;
}
.content .main-content table.docutils th pre,
.content .main-content table.docutils td pre,
.page .main-content table.docutils th pre,
.page .main-content table.docutils td pre,
.article .main-content table.docutils th pre,
.article .main-content table.docutils td pre {
  margin: 0;
}
.content .main-content a.citation-reference,
.content .main-content a.footnote-reference,
.page .main-content a.citation-reference,
.page .main-content a.footnote-reference,
.article .main-content a.citation-reference,
.article .main-content a.footnote-reference {
  vertical-align: super;
  font-size: smaller;
}
.content .main-content ol.arabic > li,
.page .main-content ol.arabic > li,
.article .main-content ol.arabic > li {
  margin-bottom: 1em;
}
.post div.post-content {
  line-height: 1.5em;
  font-size: 1.25em;
}
.post div.post-content p {
  display: inline;
}
.post div.post-content a.read-more {
  color: #428bca;
}
.post div.post-content a.read-more:hover {
  color: #2445ae;
}
.archives {
  overflow: hidden;
}
.archives dl {
  line-height: 2em;
}
.archives dl dt {
  float: left;
  clear: left;
}
.archives dl dd {
  float: left;
  margin-left: 1em;
}
.common-groups ul > li,
.tags ul > li,
.authors ul > li,
.categories ul > li {
  line-height: 2em;
}
.common-groups ul > li .badge,
.tags ul > li .badge,
.authors ul > li .badge,
.categories ul > li .badge {
  line-height: 1.5em;
  color: #00e;
  padding: 0 0.75em 0 0.75em;
  background-color: #cfc;
  border-radius: 3px;
}
.common-group,
.tag,
.author,
.category {
  padding: 5px;
}
.common-group ol.breadcrumb li,
.tag ol.breadcrumb li,
.author ol.breadcrumb li,
.category ol.breadcrumb li {
  display: inline;
}
.common-group ol.breadcrumb li:after,
.tag ol.breadcrumb li:after,
.author ol.breadcrumb li:after,
.category ol.breadcrumb li:after {
  content: ' / ';
}
.common-group ol.breadcrumb li.active:after,
.tag ol.breadcrumb li.active:after,
.author ol.breadcrumb li.active:after,
.category ol.breadcrumb li.active:after {
  content: '';
}
.layout-footer {
  padding: 3px;
  float: right;
}

/* new */
.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
}
